<div id="search-component">
    <h4>Hero Search</h4>
    <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
    <div>
      <!-- 
         the heroes property is now an Observable of hero arrays,
         rather than just a hero array. The *ngFor can't do anything 
         with an Observable until you route it through the async pipe (AsyncPipe).
       -->
      <div *ngFor="let hero of heroes | async"
           (click)="gotoDetail(hero)" class="search-result" >
        {{hero.name}}
      </div>
    </div>
  </div>