<h2>My Heroes</h2>
<div>
  <label>Hero name:</label>
  <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes"  
      (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
    <button class="delete"
      (click)="delete(hero); $event.stopPropagation()">x</button>
    <!-- 
      In addition to calling the component's delete() method,
      the delete button's click handler code stops the propagation 
      of the click event—you don't want the <li> click handler to be 
      triggered because doing so would select the hero that the user will delete.
    -->
  </li>
</ul>
<!-- hero must be declared to be an input property in
hero-detail.component.ts

<hero-detail [hero]="selectedHero"></hero-detail>

-->
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>